body {
    margin: 0 auto;
    padding: 0;
    width: 1230px;
}

header{
    margin:0 auto;
    width: 300px;
}

header div div{
    padding: 25px;
    text-align: center;
    background: #3a3e4a;
    font-size: 18px;
    color:wheat;
    text-transform: uppercase;
    border-radius: 5px;
}

.formMain {
    margin-top: 150px;
}

.formMain > div{
    margin:0 auto;
    width: 200px;
}

.formMain form table {
    /*width:200px;*/
    background:#5F9EA0;
    padding:10px 10px;
}

.formMain table tr:nth-child(1) td{
    font-size:20px;
    color:white;
    text-align:center;
}

#quantity{
    margin-top:15px;
    margin-left:auto;
    padding-left:10px;
    width:183px;
    height:50px;
    font-size:18px;
    color:#404040;
}

#send{
    padding:0 15px;
    margin-top:10px;
    width:200px;
    height:55px;
    font-size:20px;
    color:#ffffff;
    background:#2F4F4F;
    text-transform:uppercase;
}

.numbers{
    position: absolute;
    width:75%;
    margin-top: 5%;
}

.numbers ul{
    padding:0;
    margin:0;
}

.numbers div > ul:last-child{
    margin-right: 0;
}

.numbers div > ul{
    list-style: none;
    margin-right: 25px;
    margin-bottom: 10px;
    display: inline-block;
    padding-left:0;
    vertical-align: top;
}

.numbers li{
    list-style: none;
}

.numbers div a{
    display:block;
    width:50px;
    padding: 10px;
    margin-bottom:3px;
    text-align: center;
    border-radius:4px;
    font-size: 18px;
    color:#ffffff;
    background: #30a8e6;
    text-decoration: none;
}

.numbers a:hover{
    background: #1579bb;
}

body > div{
    position:fixed;
    width: 120px;
    right:20px;
    margin-top: 5%;
}

.btn{
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background: #2F4F4F;
    color: white;
    border-radius: 10px;
}

.btn:hover{
    background: #63b6bb;
}




