<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
    <body>
        <header>
            <div th:if="${error != null}">
                <div th:text="${error}">ERROR Validation</div>
            </div>
        </header>
        <section class="formMain">
            <div>
                <form action="#" th:action="@{/arrayNumber}"  th:object="${numbers}" method="post">
                    <table>
                        <tr>
                            <td>How many numbers to display</td>
                        </tr>
                        <tr>
                            <td><input id = "quantity" th:field="*{quantity}" type="number"/></td>
                        </tr>
                        <tr>
                            <td><input id="send" type="submit" value="Enter"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </section>
    </body>
</html>